.about{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.prod{
    width: 250px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

p{
    font-size: 16px;
}
